{% extends 'navbar.html' %}
{% load static %}
{% load widget_tweaks %}
{% load barang_custom_filters %}
{% block content %}
    <section class="page-section">
        <h1 class="header" style="text-align: center">FORM PENAMBAHAN BARANG</h1>

        <form method="POST" action="{% url 'add-barang' %}">
            {% csrf_token %}

            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="form-group">
                <label class="col-sm-2" for="id_barang">{{ form.id_barang.label_tag }}</label>
                <div class="col-sm-10">
                    {% render_field form.id_barang class="form-control" id="id_barang" %}
                </div>
                <label class="col-sm-2" for="nama_item">{{ form.nama_item.label_tag }}</label>
                <div class="col-sm-10">
                    {% render_field form.nama_item class="form-control" id="nama_item" %}
                </div>
                <label class="col-sm-2" for="warna">{{ form.warna.label_tag }}</label>
                <div class="col-sm-10">
                    {% render_field form.warna class="form-control" id="warna" %}
                </div>
                <label class="col-sm-2" for="url_foto">{{ form.url_foto.label_tag }}</label>
                <div class="col-sm-10">
                    {% render_field form.url_foto class="form-control" id="url_foto" %}
                </div>
                <label class="col-sm-2" for="kondisi">{{ form.kondisi.label_tag }}</label>
                <div class="col-sm-10">
                    {% render_field form.kondisi class="form-control" id="kondisi" %}
                </div>
                <label class="col-sm-2" for="lama_penggunaan">{{ form.lama_penggunaan.label_tag }}</label>
                <div class="col-sm-10">
                    {% render_field form.lama_penggunaan class="form-control" id="lama_penggunaan" %}
                </div>
                <label class="col-sm-2" for="owner">{{ form.owner.label_tag }}</label>
                <div class="col-sm-10">
                    {% render_field form.owner class="form-control" id="owner" %}
                </div>

                <p class="lead"><b>Info Barang</b></p>
                {% for level in level_barang %}
                    <p class="lead">+{{ level.nama_level }}</p>
                        {% for royalti_field in form.get_royalti_fields %}
                            {% if royalti_field.label|endswith:level.nama_level %}
                                <label class="col-sm-2" for="persen_royalti">Persen Royalti:</label>
                                <div class="col sm-2">
                                    {% render_field royalti_field class="form-control" id="persen_royalti" %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% for harga_sewa_field in form.get_harga_sewa_fields %}
                            {% if harga_sewa_field.label|endswith:level.nama_level %}
                                <label class="col sm-2" for="harga_sewa">Harga Sewa (rupiah/minggu):</label>
                                <div class="col sm-2">
                                    {% render_field harga_sewa_field class="form-control" id="persen_royalti" %}
                                </div>
                            {% endif %}
                        {% endfor %}
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </section>
{% endblock content %}