{% extends 'navbar.html' %}
{% load static %}
{% block content %}
    <section class="page-section">
        <div class="container">
            {% if barang %}
                <h1 class="my-4">Detail Barang
                    <small>{{ barang.nama_item }}</small>
                </h1>

                <div class="row">

                    <div class="col-md-8">
                        <img class="img-fluid" src="{{ barang.url_foto }}" alt="">
                    </div>

                    <div class="col-md-4">
                        <h3 class="my-3">Detail</h3>
                        <ul>
                            <li>Item: {{ barang.nama_item }}</li>
                            <li>Warna: {{ barang.warna }}</li>
                            <li>Kondisi: {{ barang.kondisi }}</li>
                            <li>Lama Penggunaan: {{ barang.lama_penggunaan }} tahun</li>
                        </ul>
                        {% if reviews %}
                            <h3 class="my-3">Review</h3>
                            <ul>
                                {% for item in reviews %}
                                    <li>[{{ item.tanggal_review }}] - {{ item.review }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <h3 class="my-3">No Reviews Yet</h3>
                        {% endif %}
                        <button type="button" class="btn btn-light"><a href="{% url 'create_pesanan' %}">Pesan</a></button>
                    </div>
                </div>
            {% else %}
                <h1 class="my-4">Barang Tidak Ditemukan!</h1>
            {% endif %}
        </div>
    </section>
{% endblock content %}