{% extends 'navbar.html' %}
{% load static %}
{% block content %}
    <section class="page-section">
        <div class="header" style="text-align: center">
            <h1>DAFTAR BARANG</h1>
        </div>
        <div class="justify-content-center align-items-center">
            <table class="table table-striped" id="barang-table">
                <thead>
                    <tr>
                        <th class="id-barang">Id Barang</th>
                        <th class="nama-item">Nama Item</th>
                        <th class="warna">Warna</th>
                        <th class="kondisi">Kondisi</th>
                        <th class="action-all">Action</th>
                        {% if request.session.type == "admin" %}
                            <th class="action-admin">Action [Admin]</th>
                        {% else %}
                            <th class="action-anggota">Action [Member]</th>
                        {% endif %}
                    </tr>
                </thead>
            </table>
        </div>

        {% if request.session.type == "anggota" %}
            <button class="btn btn-success" id="order-barang-button" disabled>Pesan</button>
        {% endif %}
    </section>

    <script>
    $(document).ready(function() {
        localStorage.setItem("checkedBarangCount", "0");
        $("#barang-table").DataTable({
            autoWidth: false,
            ajax: {
                url: "/barang/fetch-barang",
                type: "GET"
            },
            columns: [
                {"data": "id_barang"},
                {"data": "nama_item"},
                {"data": "warna"},
                {"data": "kondisi"},
                {
                    "data": null,
                    "defaultContent": "<button class='btn btn-primary detail-btn'>Detail</button>"},
                {
                    "data": null,
                    "render": function (data, type, row, meta) {
                        let thClassName = $("#barang-table").find("th").eq("5").attr("class");
                        if (thClassName.split(" ")[0] === "action-admin") {
                            return "<div class=admin-buttons>" +
                                "<button class='update-btn btn btn-secondary'>Update</button>" +
                                "<button class='delete-btn btn btn-danger'>Delete</button>" +
                                "</div>";
                        } else {
                            return "<input class='barang-checkbox' type='checkbox' name='checked-barang'>";
                        }
                    }
                }
            ]
        });

        $("body").on("click", "td .detail-btn", function () {
           let idBarang = $(this).closest("tr").children("td.sorting_1").text();
           window.location.replace("/barang/" + idBarang);
        });

        $("body").on("click", "td .admin-buttons .update-btn", function () {
            let idBarang = $(this).closest("tr").children("td.sorting_1").text();
            window.location.replace("/barang/" + idBarang + "/update");
        });

        $("body").on("click", "td .admin-buttons .delete-btn", function () {
            let idBarang = $(this).closest("tr").children("td.sorting_1").text();
            $("#delete-buttons-modal").children("button#confirm-delete-button").attr("caller-id", idBarang);
            $("#delete-buttons-modal").modal();
        });

        $("body").on("click", "#delete-buttons-modal #confirm-delete-button", function () {
            let idBarang = $(this).attr("caller-id");
            window.location.replace("/barang/" + idBarang + "/delete");
        });

        $("body").on("change", "#barang-table input:checkbox", function () {
            if ($(this).prop("checked")) {
                let count = parseInt(localStorage.getItem("checkedBarangCount")) + 1;
                localStorage.setItem("checkedBarangCount", count.toString());
            } else {
                let count = parseInt(localStorage.getItem("checkedBarangCount")) - 1;
                localStorage.setItem("checkedBarangCount", count.toString());
            }
            if (parseInt(localStorage.getItem("checkedBarangCount"))) {
                $("#order-barang-button").prop("disabled", false);
            } else {
                $("#order-barang-button").prop("disabled", true);
            }
        });

        $("#order-barang-button").click(function () {
            if (!$(this).prop("disabled")) {
                window.location.replace("/pesanan/create_pesanan")
            }
        });
    });

    </script>

    <div id="delete-buttons-modal" class="modal">
        <p>Apakah Anda ingin menghapus barang ini?</p>
        <button class="btn btn-secondary" type="button">
            <a href="#" rel="modal:close" style="text-decoration: none; color: white">Batal</a>
        </button>
        <button class="btn btn-danger" id="confirm-delete-button" type="button">Hapus</button>
        <a href="#" rel="modal:close"></a>
    </div>
{% endblock content %}