{% extends 'navbar.html' %}
{% load staticfiles %}
{% block content %}

 <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec">
                        <h2 class="title">Membuat Pesanan</h2>
                        <hr class="divider dark my-4">
		 <form id="form" method="POST" action="{% url 'create_level' %}"  style='margin-top:30px'>
							{% csrf_token %}
							{{ form.as_p }}
							<br>
							<input  id="submit" type="submit" class="btn btn-lg btn-block btn-info" style= " margin-top: 10px;font-size: 22px; font: Garamond" value="Submit">
						</form>

 </div>
                </div>
            </div>
        </div>
    </div>

  
  
    {% endblock %}