{% extends 'navbar.html' %}
{% load staticfiles %}
{% block content %}


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<div class="content">
	<div class="row">
		<div class="col-sm-12">
			<div class="roundedrec">
				<div class="insiderec">
					<h2 class="title"> Daftar Pesanan </h2>
					<hr class="divider bg-dark my-4">
					{% if pesan %}
					<table class="table table-striped" style="background-color:white">
						<thead>
							<tr>
								<th scope="col"> ID Pesanan</th>
								<th scope="col"> Daftar Barang</th>
								<th scope="col"> Harga </th>
								<th scope="col"> Status </th>
								<th scope="col"> Action </th>
							</tr>
						</thead>
						<tbody id="paginationTableBody">
							{% for i in data %}
							<tr>
								<th scope="row">{{ i.id_pemesanan }}</th>
								<td> {% for e in pesan %}
										{% if e.id_pemesanan == i.id_pemesanan %}
											{{ e.nama_item }} <br> 
										{% endif %}
									{% endfor %}
								</td>
								<td> {{ i.harga_sewa }}</td>
								<td> {{ i.status }} <br> 
								</td>
								<td>
									<a class="btn btn-light btn-l js-scroll-trigger bg-dark text-white "  href="{% url 'update_pesanan'%}" >Update</a>
									<a type="button" class="btn btn-light btn-l js-scroll-trigger bg-dark text-white" href="{% url 'delete_pesanan' i.id_pemesanan %}" onclick="return confirm('Apakah benar ingin menghapus level ini?')" > Delete </a>
								</td>
							</tr>
							
							{% endfor %}
						</tbody>
					</table>		
					{% else %}
					<h1 class="my-4 title">Tidak Ada Pesanan yang Dilakukan</h1>
					{% endif %}
					{% if data.has_other_pages %}
					  <ul class="pagination" style='border: 1px solid #ffffff;margin: auto;'>
						{% if data.has_previous %}
						  <li style='border: 10px solid #ffffff ;'><a href="?page={{ data.previous_page_number }}">«</a></li>
						{% else %}
						  <li class="disabled" style='border: 10px solid #ffffff ;'><span>«</span></li>
						{% endif %}
						{% for i in data.paginator.page_range %}
						  {% if data.number == i %}
							<li class="active" style='border: 10px solid #ffffff ;'><span>{{ i }} <span class="sr-only">(current)</span></span></li>
						  {% else %}
							<li style='border: 10px solid #ffffff ;'><a href="?page={{ i }}">{{ i }}</a></li>
						  {% endif %}
						{% endfor %}
						{% if data.has_next %}
						  <li style='border: 10px solid #ffffff ;'><a href="?page={{ data.next_page_number }}">»</a></li>
						{% else %}
						  <li class="disabled" style='border: 10px solid #ffffff ;'><span>»</span></li>
						{% endif %}
					  </ul>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

  
{% endblock %}