{% extends 'navbar.html' %}
{% load staticfiles %}
{% block content %}

<div class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="roundedrec">
                <div class="insiderec">
          <h2 class="title"> Update Pesanan </h2>
          <hr class="divider dark my-4">
		  <form>
			  <div class="form-group">
				<label for="exampleInputEmail1"> Barang </label>
				<input type="text" class="form-control text-center" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mahkota merk x warna merah, Mahkota merk x warna biru">
			  </div>
			  <div class="form-group">
				<label for="exampleInputPassword1"> Lama Sewa</label>
				<input type="text" class="form-control text-center" id="exampleInputPassword1" placeholder="14 (hari)">
			  </div>
			   <div class="form-group">
				  <label for="inputState"> Status </label>
				  <select id="inputState" class="form-control">
					<option selected >menunggu konfirmasi admin</option>
					<option>...</option>
					<option>...</option>
				  </select>
				</div>
				  <button type="button" class="btn bg-dark text-light" > Submit </button>
			</form>
   </div>
        </div>
    </div>
</div>
    {% endblock %}