{% extends 'navbar.html' %}
{% load staticfiles %}
{% block content %}
    <!-- CONTENT -->
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec">
                        <h2 class="title">Buat Pengiriman</h2>
                        <hr class="line">
                        <form action="#">
                            <div class="form-label-group">
                                <label for="inputBarang">Barang Pesanan:</label>
                                <select name="barang" class="form-control selectpicker" id="inputBarang" placeholder="Boleh pilih lebih dari satu.." multiple data-live-search="true" required>
                                    {% for i in barang_pesanan %}
                                        <option>{{i.0}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-label-group jarakatas">
                                <label for="inputAlamat">Alamat Tujuan:</label>
                                <select name="alamat" class="form-control selectpicker" id="inputAlamat" data-live-search="true" required>
                                    {% for i in alamat %}
                                        <option>{{i.0}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-label-group jarakatas">
                                <label for="inputRentangUsia">Tanggal Pengiriman:</label>
                                <input type="text" id="inputRentangUsia" class="form-control" required>
                            </div>
                            <div class="form-label-group jarakatas">
                                <label for="inputBahan">Metode:</label>
                                <input type="text" id="inputBahan" class="form-control" required>
                            </div>
                           
                            <div class="submitcenter">
                            <button type="submit" class="btn btn-primary submitcenter" data-toggle="modal" data-target="#submit">Submit</button>
                                <div class="modal fade" id="submit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="submit">Konfirmasi Pengiriman</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body modalkiri">
                                            Pengiriman Berhasil!
                                            Ongkos: 10000
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-outline-success" href="{% url 'daftar_pengiriman' page=1 %}" role="button">Lanjut</a>
                                            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Batal</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
