{% extends 'navbar.html' %}
{% load staticfiles %}
{% block content %}
<!-- CONTENT -->
<div class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="roundedrec">
                <div class="insiderec">
                    <h2 class="judul2">Daftar Pengiriman</h2>

                    <select style="position: relative; left: 700px; top: -5px; width: 240px; height:30px;">
                        <option value="volvo">Filter</option>
                        <option value="saab">Saab</option>
                        <option value="opel">Opel</option>
                        <option value="audi">Audi</option>
                    </select>
                    {% if request.session.type == "admin" %}
                    <div class="table-responsive">
                        <table class="table center">
                            <thead>
                                <tr>
                                    <th scope="col">Id Pengiriman</th>
                                    <th scope="col">Daftar Barang - Id Pemesanan</th>
                                    <th scope="col">Harga Total</th>
                                    <th scope="col">Tanggal Pengiriman</th>
                                    <th scope="col">Action</th>                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in list_pengiriman %}
                                <tr>
                                    <th scope="row">{{i.0}}</th>
                                    <td scope="row">{{i.1}}</td>
                                    <td scope="row">{{i.2}} - {{i.3}}</td>
                                    <td scope="row">{{i.4}}</td>
                                    <td scope="row">
                                        <a role="button" class="btn btn-info" href="{% url 'update_pengiriman' %}">Update</a>
                                        <div class="modal fade" id="update{{i.0}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="update3">Update Pengiriman</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body modalkiri">
                                                    <form action="/item/update_item/" method="POST">
                                                        {% csrf_token %}
                                                        <div class="form-label-group">
                                                            <label for="inputBarang"><b>Barang Pesanan:</b></label>
                                                            <select name="kategori" class="form-control selectpicker" id="inputBarang{{ forloop.counter }}" placeholder="Boleh pilih lebih dari satu.." multiple data-live-search="true" required>
                                                                {% for j in barang_pesanan %}
                                                                    <option>{{ j.0 }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="form-label-group jarakatas">
                                                            <label for="inputAlamat"><b>Alamat:</b></label>
                                                            <select name="kategori" class="form-control selectpicker" id="inputAlamat{{ forloop.counter }}" data-live-search="true" required>
                                                                {% for j in alamat %}
                                                                    <option>{{ j.0 }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="form-label-group jarakatas">
                                                            <label for="inputTanggal"><b>Tanggal Pengiriman:</b></label>
                                                            <input name="tgl" type="text" id="inputTanggal{{ forloop.counter }}" class="form-control" value="{{ i.2 }}" required>                                                                </div>
                                                        </div>
                                                        <div class="form-label-group jarakatas">
                                                            <label for="inputMetode"><b>Metode:</b></label>
                                                            <input name="metode" type="text" id="inputMetode{{ forloop.counter }}" class="form-control" value="{{ i.3 }}" required>
                                                        </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Tutup</button>
                                                    <button type="button" class="btn btn-outline-primary btnagree">Update</button>
                                                    </form>
                                                </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% elif request.session.type == "anggota" %}
                    <div class="table-responsive">
                            <table class="table center">
                                <thead>
                                    <tr>
                                        <th scope="col">Id Pengiriman</th>
                                        <th scope="col">Daftar Barang - Id Pemesanan</th>
                                        <th scope="col">Harga Total</th>
                                        <th scope="col">Tanggal Pengiriman</th>
                                        <th scope="col">Action</th>                    
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in list_pengiriman %}
                                    <tr>
                                    <th scope="row">{{i.id_pengiriman}}</th>
                                    <td scope="row">{{i.daftar_barang}} - {{i.id_pemesanan}}</td>
                                    <td scope="row">{{i.harga_total}}</td>
                                    <td scope="row">{{i.tanggal}}</td>
                                        <td scope="row">
                                            <a role="button" class="btn btn-info" href="{% url 'update_pengiriman' %}">Update</a>
                                            <div class="modal fade" id="update{{i.0}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="update3">Update Pengiriman</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body modalkiri">
                                                        <form action="/item/update_item/" method="POST">
                                                            {% csrf_token %}
                                                            <div class="form-label-group">
                                                                <label for="inputBarang"><b>Barang Pesanan:</b></label>
                                                                <select name="kategori" class="form-control selectpicker" id="inputBarang{{ forloop.counter }}" placeholder="Boleh pilih lebih dari satu.." multiple data-live-search="true" required>
                                                                    {% for j in barang_pesanan %}
                                                                        <option>{{ j.0 }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="form-label-group jarakatas">
                                                                <label for="inputAlamat"><b>Alamat:</b></label>
                                                                <select name="kategori" class="form-control selectpicker" id="inputAlamat{{ forloop.counter }}" data-live-search="true" required>
                                                                    {% for j in alamat %}
                                                                        <option>{{ j.0 }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="form-label-group jarakatas">
                                                                <label for="inputTanggal"><b>Tanggal Pengiriman:</b></label>
                                                                <input name="tgl" type="text" id="inputTanggal{{ forloop.counter }}" class="form-control" value="{{ i.2 }}" required>                                                                </div>
                                                            </div>
                                                            <div class="form-label-group jarakatas">
                                                                <label for="inputMetode"><b>Metode:</b></label>
                                                                <input name="metode" type="text" id="inputMetode{{ forloop.counter }}" class="form-control" value="{{ i.3 }}" required>
                                                            </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Tutup</button>
                                                        <button type="button" class="btn btn-outline-primary btnagree">Update</button>
                                                        </form>
                                                    </div>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#{{i.0}}">Delete</button>
                                            <div class="modal fade" id="{{i.0}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered" role="document">
                                                    <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="{{i.0}}">Delete Pengiriman</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body modalkiri">
                                                        Hapus pengiriman?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Tidak</button>
                                                        <button type="button" class="btn btn-outline-danger">Ya</button>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="btn btn-warning" href="{% url 'create_review' %}" role="button">Review</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                </div>
                {% if list_pengiriman.has_other_pages %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      {%if list_pengiriman.has_previous %}
                      <li class="page-item"><a class="page-link" href="/pengiriman/daftar_pengiriman/{{pengiriman.previous_page_number}}">Previous</a></li>
                      {% endif %}
                      {% for i in list_pengiriman.paginator.page_range%}
                      <li class="page-item"><a class="page-link" href="/pengiriman/daftar_pengiriman/{{i}}" style="color : black">{{i}}</a></li>
                      {% endfor %}
                      {% if daftar_pengiriman.has_next %}
                      <li class="page-item"><a class="page-link" href="/pengiriman/daftar_pengiriman/{{pengiriman.next_page_number}}" style="color : black">Next</a></li>
                      {% endif %}
                    </ul>
                  </nav>
                {% endif %}
            </div>
        </div>
    </div>
    
</div>
{% endblock %}