{% extends 'navbar.html' %}
{% load staticfiles %}
{% block content %}
<!-- CONTENT -->
<div class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="roundedrec">
                <div class="insiderec">
                    <h2 class="title">Update Pengiriman</h2>
                    <hr class="line">
                    <form action="#">
                        <div class="form-label-group">
                            <label for="inputKategori">Barang Pesanan:</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Mahkota merk x warna merah, Mahkota merk x warna biru">
                        </div>
                        <div class="form-label-group jarakatas">
                            <label for="inputDeskripsi">Alamat Tujuan:</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="rumah - jl. Merdeka">
                        </div>
                        <div class="form-label-group jarakatas">
                            <label for="inputRentangUsia">Tanggal Pengiriman:</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="20 April 2019">
                        </div>
                        <div class="form-label-group jarakatas">
                            <label for="inputBahan">Metode:</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="minta dikirimkan">
                        </div>
                        
                        <div class="submitcenter">
                            <a role="button" class="btn btn-primary btnagree" href="{% url 'daftar_pengiriman' %}">Update</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
