{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<script>
		$(document).ready(function(){
			$('#myTableBody').pageMe({pagerSelector:'#myPager',showPrevNext:true,hidePageNumbers:false,perPage:4});
		});
		</script>
	</head>
	
	<div class="content">
		<div class="row">
			<div class="col-sm-12">
				<div class="roundedrec">
					<div class="insiderec">
						<h2 class="title" onclick="myFunction()"> Daftar Level </h2>
						<hr class="divider bg-dark my-4">
						{% if level %}
						<table class="table table-striped" style="background-color:white">
							<thead>
								<tr>
								<th scope="col"> No </th>
								<th scope="col"> Nama Level</th>
								<th scope="col"> Deskripsi </th>
								<th scope="col"> Minimum poin </th>
								<th scope="col"> Action </th>
								</tr>
							</thead>
							<tbody>
							{% for e in level %}
								<tr>
									<th scope="row">{{ forloop.counter }}</th>
									<td> {{ e.nama_level }} </td>
									<td> {{ e.minimum_poin }} </td>
									<td> {{ e.deskripsi }}</td>
									<td>
										<a class="btn btn-light btn-l js-scroll-trigger bg-dark text-white "  href="{% url 'update_level' e.nama_level%}" >Update</a>
										<a type="button" class="btn btn-light btn-l js-scroll-trigger bg-dark text-white" href="{% url 'delete_level' e.nama_level %}" onclick="return confirm('Apakah benar ingin menghapus level ini?')" > Delete </a>
									</td>
								</tr>
							</tbody>
							{% endfor %}
							{% else %}
								<h1 class="my-4 title">Tidak Ada Level yang Terdaftar</h1>
							{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>

	  
	{% endblock content %}

</html>