{% extends 'navbar.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/login/style.css' %}">
</head>
<script>
    function register_admin(){
        var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
        no_ktp = $('#no_ktp').val()
        email = $('#email').val()
        bdate = $('#bdate').val()
        name = $('#name').val()
        no_telp = $('#no_telp').val()
        $.ajax({
            type: "POST",
            url: "{% url 'register_admin' %}",
            data: {
                no_ktp : no_ktp,
                email : email,
                bdate : bdate,
                name : name,
                no_telp : no_telp,
                },
            headers:{"X-CSRFToken": $crf_token},
            success: function () {
                alert("Pengguna berhasil didaftarkan!")
            },
            error: function () {
                alert("Pengguna dengan nomor KTP dan/atau email yang bersangkutan sudah terdaftar!")
            }
        });
    }
</script>
<body>
        <!-- Sign up form -->
        <section class="signup" style="margin-top: 10vmax;">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="no_ktp"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                {% csrf_token %}
                                {{forms.no_ktp}}
                            </div>
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-accounts-list"></i></label>
                                {% csrf_token %}
                                {{forms.nama_lengkap}}
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                {% csrf_token %}
                                {{forms.email}}
                            </div>
                            <div class="form-group">
                                <label for="date"><i class="zmdi zmdi-calendar"></i></label>
                                {% csrf_token %}
                                {{forms.date}}
                            </div>
                            <div class="form-group">
                                <label for="telp"><i class="zmdi zmdi-phone"></i></label>
                                {% csrf_token %}
                                {{forms.no_telp}}
                            </div>
                            <div class="form-group form-button">
                                <input type = "button" onclick = register_admin() id="register" class="form-submit" value="Submit"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'img/signup-image.jpg' %}" alt="sing up image"></figure>
                        <a href="{% url 'login' %}" class="signup-image-link">I am already a member</a>
                    </div>
                </div>
            </div>
        </section>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <style type="text/css">
            body {
                font-family: 'Varela Round', sans-serif;
            }
            .modal-confirm {		
                color: #636363;
                width: 325px;
            }
            .modal-confirm .modal-content {
                padding: 20px;
                border-radius: 5px;
                border: none;
            }
            .modal-confirm .modal-header {
                border-bottom: none;   
                position: relative;
            }
            .modal-confirm .form-control, .modal-confirm .btn {
                min-height: 40px;
                border-radius: 3px; 
            }
            .modal-confirm .close {
                position: absolute;
                top: -5px;
                right: -5px;
            }	
            .modal-confirm .modal-footer {
                border: none;
                text-align: center;
                border-radius: 5px;
                font-size: 13px;
            }	
            .modal-confirm .icon-box {
                color: #fff;		
                position: absolute;
                margin: 0 auto;
                left: 0;
                right: 0;
                top: -70px;
                width: 95px;
                height: 95px;
                border-radius: 50%;
                z-index: 9;
                background: #82ce34;
                padding: 15px;
                text-align: center;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
            }
            .modal-confirm .icon-box i {
                font-size: 58px;
                position: relative;
                top: 3px;
            }
            .modal-confirm.modal-dialog {
                margin-top: 80px;
            }
            .modal-confirm .btn {
                color: #fff;
                border-radius: 4px;
                background: #82ce34;
                text-decoration: none;
                transition: all 0.4s;
                line-height: normal;
                border: none;
            }
            .modal-confirm .btn:hover, .modal-confirm .btn:focus {
                background: #6fb32b;
                outline: none;
            }
            .trigger-btn {
                display: inline-block;
                margin: 100px auto;
            }
        </style>
    <!-- JS -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/login/main.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>

{% endblock %}