{% extends 'navbar.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/login/style.css' %}">
</head>
<script>
    function register_anggota(){
        var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
        no_ktp = $('#no_ktp').val()
        email = $('#email').val()
        alamat_nama = $('#alamat_nama').val()
        alamat_jalan = $('#alamat_jalan').val()
        alamat_no = $('#alamat_no').val()
        alamat_kota = $('#alamat_kota').val()
        alamat_kodepos = $('#alamat_kodepos').val()
        bdate = $('#bdate').val()
        name = $('#name').val()
        no_telp = $('#no_telp').val()
        $.ajax({
            type: "POST",
            url: "{% url 'register_anggota' %}",
            data: {
                no_ktp : no_ktp,
                email : email,
                alamat_nama : alamat_nama,
                alamat_jalan : alamat_jalan,
                alamat_no : alamat_no,
                alamat_kota : alamat_kota,
                alamat_kodepos : alamat_kodepos,
                bdate : bdate,
                name : name,
                no_telp : no_telp,
                },
            headers:{"X-CSRFToken": $crf_token},
            success: function () {
                alert("Pengguna berhasil didaftarkan!")
            },
            error: function () {
                alert("Pengguna dengan nomor KTP dan/atau email yang bersangkutan sudah terdaftar!")
            }
        });
    }
</script>
<body>
        <!-- Sign up form -->
        <section class="signup" style="margin-top: 10vmax;">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form">
                            <div class="form-group">
                                <label for="no_ktp"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                {% csrf_token %}
                                {{forms.no_ktp}}
                            </div>
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-accounts-list"></i></label>
                                {% csrf_token %}
                                {{forms.nama_lengkap}}
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                {% csrf_token %}
                                {{forms.email}}
                            </div>
                            <div class="form-group">
                                <label for="date"><i class="zmdi zmdi-calendar"></i></label>
                                {% csrf_token %}
                                {{forms.date}}
                            </div>
                            <div class="form-group">
                                <label for="telp"><i class="zmdi zmdi-phone"></i></label>
                                {% csrf_token %}
                                {{forms.no_telp}}
                            </div>
                            <div class="form-group">
                                <label for="alamat"><i class="zmdi zmdi-pin"></i></label>
                                {% csrf_token %}
                                {{forms.alamat_nama}}
                                {% csrf_token %}
                                {{forms.alamat_jalan}}
                                {% csrf_token %}
                                {{forms.alamat_no}}
                                {% csrf_token %}
                                {{forms.alamat_kota}}
                                {% csrf_token %}
                                {{forms.alamat_kodepos}}
                            </div>
                            <div class="form-group form-button">
                                <input type = "button" onclick = register_anggota() id="register" class="form-submit" value="Submit"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'img/signup-image.jpg' %}" alt="sing up image"></figure>
                        <a href="{% url 'login' %}" class="signup-image-link">I am already a member</a>
                    </div>
                </div>
            </div>
        </section>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- JS -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/login/main.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>

{% endblock %}