{% extends 'navbar.html' %}
{% load staticfiles %}
{% block content %}
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head><body>
  
  <script>

    $( document ).ready(function() {
      var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
        $.ajax({
            type: "POST",
            url: "{% url 'profile_display' %}",
            headers:{"X-CSRFToken": $crf_token},
            success: function (hasil) {
                var alamat = hasil.alamat;
                var profile;
                var address;
                if(alamat.length > 0){
                  address = `<br />
                        <small><cite title="alamat">` + alamat[0]['nama'] + ", Jl. " + alamat[0]['jalan'] + " No. " + alamat[0]['no'] + ", Kota " + alamat[0]['kota'] + ", " + alamat[0]['kodepos'] + `</cite></small>
                         `
                }else{
                  address = '';
                }
                if(hasil.length = 7){
                  poin = `<br />
                        <small><cite title="poin">Jumlah Poin :` + hasil.poin[0].poin + `</small>`;
                }else{
                  poin = ``;
                }
                
                profile =  `<!-- the username -->
                          ` + hasil.nama_lengkap + 
                            `</h1>
                          <h2><small>
                            ` + hasil.type + `
                                </h2></small><br>
                      
                        <!-- bit of a bio; who are you? -->
                        <div class="profile-bio">
                      
                          <p>
                        </div>
                      <small><cite title="ktp"> ` + hasil.no_ktp +  `</cite></small>
                        <br />
                        <small><cite title="email"> ` + hasil.email + `</cite></small>
                        <br />
                        <small><cite title="telp">` + hasil.no_telp + `</cite></small>
                        <br />
                        <small><cite title="ttl">` + hasil.tanggal_lahir.toString() + `</cite></small>
                         ` + address + poin;
              $("header").append(profile);
            },
            error: function () {
                alert("Telah terjadi kesalahan.")
            }
        });
    });
</script>
 <link rel="stylesheet" href="{% static 'css/style.css' %}">
 <aside class="profile-card">
    <header>
      <!-- here’s the avatar -->
      <a target="_blank" href="#">
        <img src="http://lorempixel.com/150/150/people/">
      </a><br>
    </header>
    <h1>
        {% csrf_token %}
  </aside>
</body>

{% endblock %}