{% extends 'navbar.html' %}
{% load staticfiles %}
{% block content %}
    <!-- CONTENT -->
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec">
                        <h2 class="title">Isi Review</h2>
                        <hr class="line">
                        <form action="#">
                            <div class="form-label-group">
                                <label for="inputBarang">Barang:</label>
                                <select name="barang" class="form-control selectpicker" id="inputBarang" data-live-search="true" required>
                                    {% for i in barang_pesanan %}
                                        <option>{{i.0}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-label-group jarakatas">
                                <label for="inputBahan">Review:</label>
                                <input type="text" id="inputReview" class="form-control" required>
                            </div>
                           
                            <div class="submitcenter">
                                <a class="btn btn-primary" href="{% url 'daftar_review' %}" role="submit">Submit</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
