{% extends 'navbar.html' %}
{% load staticfiles %}
{% block content %}
<!-- CONTENT -->
<div class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="roundedrec">
                <div class="insiderec">
                    <h2 class="judul2">Daftar Review</h2>
                    <div class="table-responsive">
                        <table class="table center">
                            <thead>
                                <tr>
                                    <th scope="col">Id Pengiriman</th>
                                    <th scope="col">Barang</th>
                                    <th scope="col">Review</th>
                                    <th scope="col">Tanggal Review</th>
                                    <th scope="col">Action</th>                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in review %}
                                <tr>
                                    <th scope="row">{{i.0}}</th>
                                    <td scope="row">{{i.1}}</td>
                                    <td scope="row">{{i.2}}</td>
                                    <td scope="row">{{i.3}}</td>
                                    <td scope="row">
                                        <a role="button" class="btn btn-info" href="{% url 'update_review' %}">Update</a>

                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete1">Delete</button>
                                        <div class="modal fade" id="delete1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="delete1">Delete Review</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body modalkiri">
                                                    Hapus review?
                                                </div>
                                                <div class="modal-footer">
                                                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Tidak</button>
                                                        <a role="button" class="btn btn-outline-danger" href="{% url 'daftar_review' %}">Ya</a>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
