{% extends 'navbar.html' %}
{% load staticfiles %}
{% block content %}
<!-- CONTENT -->
<div class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="roundedrec">
                <div class="insiderec">
                    <h2 class="title">Update Review</h2>
                    <hr class="line">
                    <form action="#">
                        <div class="form-label-group">
                            <label for="inputKategori">Barang:</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Mahkota merk x warna merah">
                        </div>
                        <div class="form-label-group jarakatas">
                            <label for="inputDeskripsi">Review:</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="not bad laah">
                        </div>
                        
                        <div class="submitcenter">
                            <a role="button" class="btn btn-outline-primary btnagree" href="{% url 'daftar_review' %}">Update</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
