{% extends 'navbar.html' %}
{% load staticfiles %}
{% block content %}
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
<link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>
</head>
<script>
    function create_item(){
            var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
            nama_barang = $('#nama_barang').val()
            deskripsi = $('#deskripsi').val()
            usia_awal = $('#usia_awal').val()
            usia_akhir = $('#usia_akhir').val()
            bahan = $('#bahan').val()
            kategori = $('#kategori').val()
            $.ajax({
                type: "POST",
                url: "{% url 'add_item' %}",
                data: {
                    nama_barang : nama_barang,
                    deskripsi : deskripsi,
                    usia_awal : usia_awal,
                    usia_akhir : usia_akhir,
                    bahan : bahan,
                    kategori : kategori,
                    },
                headers:{"X-CSRFToken": $crf_token},
                success: function (hasil) {
                    alert("Barang anda berhasil ditambah!")
                },
                error: function (hasil) {
                    alert("An error has occured!")
                }
            });
        }
</script>
<body>

    <!-- CONTENT -->
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec">
                        <h2 class="title">Penambahan Item</h2>
                        <hr class="line">
                        <form action="#">
                            <div class="form-label-group jarakatas">
                                <label for="inputBahan">Nama:</label><br>
                                {% csrf_token %}
                                {{forms.nama_barang}}
                            </div>

                            <div class="form-label-group jarakatas">
                                <label for="inputBahan">Deskripsi:</label><br>
                                {% csrf_token %}
                                {{forms.deskripsi}}
                            </div>
                            <div class="form-label-group jarakatas">
                                <label for="inputBahan">Rentang Usia (usia minimal - usia maksimal):</label>
                                <br>
                                        {% csrf_token %}
                                        {{forms.usia_awal}}
                                -
                                        {% csrf_token %}
                                        {{forms.usia_akhir}}

                            </div>

                            <div class="form-label-group jarakatas">
                                <label for="inputBahan">Bahan:</label>
                                <br>
                                {% csrf_token %}
                                {{forms.bahan}}
                            </div>

                            <div class="form-label-group jarakatas">
                                <label for="inputDeskripsi">Kategori:</label>
                                <br>
                                {% csrf_token %}
                                {{forms.kategori}}
                            </div>
                            <br>
                            <div class="form-lavel-group form-button">
                                    <input type = "button" onclick=create_item() class="form-submit" value="Submit"/>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    
<script>
$(".chosen-select").chosen({
    no_results_text: "Oops, nothing found!"
});
</script>

    {% endblock %}