{% extends 'navbar.html' %}
{% load staticfiles %}
{% block content %}
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script>

function delete_item(nama){
    var result = confirm("Apakah anda yakin ingin menghapus item ini?");
    if(result){
        $.ajax({
          method: "GET",
          url: "delete_item/" + nama,
          success: function (data) {
              alert("Item berhasil dihapus.")
          }, error: function(data){
              alert("Telah terjadi kesalahan. Silakan coba lagi.")
          }
      });
    }
  };

  $( document ).ready(function() {
      show_list();

      function show_list(){
          $.ajax({
                  method: "GET",
                  url: "{% url 'show_item_list' %}",
                  success: function (data) {
                      tr = $('<tr/>');
                      if(data.item_list.length == 0){
                          alert("Tidak ada barang yang tersedia!");
                      }else{
                          for (var x = 0; x < data.item_list.length; x++) {
                            item = data.item_list[x];
                            num = x+1;
                            tr = $('<tr/>');
                            tr.append("<td>" + num + "</td>");
                            tr.append("<td>" + item['nama'] + "</td>");
                            tr.append("<td>" + item['nama_kategori'] + "</td>");
                            var button;
                                if(data['type'] == 'admin'){
                                  button = `<td>
                                          <button type="button" class="btn btn-warning" onclick="window.location.href='update_item';">Update</button>
                                          <a type="button" class="btn btn-danger" onclick=delete_item(item['nama'])>Delete</a>
                                          <a type="button" class="btn btn-info" href="{% url 'create_item' %}">Tambah</a>
                                          </td>`;
                                }else if(data['type'] == 'anggota'){
                                  button = `<td>
                                        <button type="button" class="btn btn-warning" onclick="window.location.href='update_item';">Update</button>
                                        <a type="button" class="btn btn-info" href="{% url 'create_item' %}">Tambah</a></td>`;
                                  }else{
                                  button = `<td>
                                        <button type="button" class="btn btn-warning" onclick="window.location.href='update_item';">Update</button>
                                        <a type="button" class="btn btn-info" href="{% url 'create_item' %}">Tambah</a></td>`;
                              }
                              tr.append(button);
                            $('table').append(tr);
                            }
                        }
                      }, error: function(hasil){
                      alert("Telah terjadi kesalahan.");
                  }
              });
              }
            });
  </script>

  <body>
  
  <!-- Modal -->
  <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Menghapus Item</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Apakah anda yakin ingin menghapus item ini?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-primary">No</button>
        </div>
      </div>
    </div>
  </div>
    <!-- CONTENT -->
    <div class="content">
        <div class="row">
            <div class="col-sm-12">
                <div class="roundedrec">
                    <div class="insiderec">
                        <h2 class="title">Daftar Item</h2>
                        <div class="container">     
                            <table class="table table-striped" style="width : 90%;">
                                <tr>
                                    <th class="nomor">No</th>
                                    <th class="nama_item">Nama Item</th>
                                    <th class="kategori">Kategori</th>
                                    <th class="action-all">Action</th>
    
                              <!-- <thead>
                                <tr>
                                  <th>Firstname</th>
                                  <th>Lastname</th>
                                  <th>Email</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>John</td>
                                  <td>Doe</td>
                                  <td>john@example.com</td>
                                  <td><button type="button" class="btn btn-warning" onclick="window.location.href='update_item';">Update</button>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#basicExampleModal">Delete</button>
                                    <button type="button" class="btn btn-info">Tambah</button>
                                </td>
                                </tr>
                                <tr>
                                  <td>Mary</td>
                                  <td>Moe</td>
                                  <td>mary@example.com</td>
                                  <td><button type="button" class="btn btn-warning" onclick="window.location.href='update_item';">Update</button>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#basicExampleModal">Delete</button>
                                   <button type="button" class="btn btn-info">Tambah</button>
                                </td>
                                </tr>
                                <tr>
                                  <td>July</td>
                                  <td>Dooley</td>
                                  <td>july@example.com</td>
                                  <td><button type="button" class="btn btn-warning" onclick="window.location.href='update_item';">Update</button>
                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#basicExampleModal">Delete</button>
                                    <button type="button" class="btn btn-info">Tambah</button>
                                </td>
                                </tr>
                              </tbody> -->
                            </table>
                          </div>
                          
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>

    {% endblock %}